<!DOCTYPE html>

<meta charset="UTF-8">
<title>イベント一覧</title>
<link rel=stylesheet href="/css/admin/common.css">

<h1>イベント一覧</h1>
<a href="/admin/events/create">新規作成</a>
<table class="list">
  <tr>
    <th>
      ID
    </th>
    <th>
      タイトル
    </th>
    <th>
      開始日時
    </th>
    <th>
      終了日時
    </th>
    <th>
      ハッシュタグ
    </th>
    <th>
      リンク
    </th>
    <th>
      各種URL
    </th>
  </tr>
  <% events.forEach(function(event) { %>
    <tr>
      <td>
        <a href="/admin/events/edit?id=<%= event.id %>"><%= event.id %></a>
      </td>
      <td>
        <%= event.title || '' %>
      </td>
      <td>
        <%= fmtDate(event.start) %>
      </td>
      <td>
        <%= fmtDate(event.end) %>
      </td>
      <td>
        <%= event.hashtag || '' %>
      </td>
      <td>
        <% if (event.link) { %>
          <a target="_blank" href="<%= event.link %>"><%= event.link %></a>
        <% } %>
      </td>
      <td>
        <a target="zapper" href="/?eventId=<%= event.id %>">Zapper</a>
        <a target="embed" href="/events/embed?id=<%= event.id %>">Embed</a>
        <a target="embed" href="/events/embed?id=<%= event.id %>&slide=1">Embed(Slide)</a>
        <a target="embed" href="/result?eventId=<%= event.id %>">Result</a>
        <a target="embed" href="/events/presentation?id=<%= event.id %>">Presentation</a>
      </td>
    </tr>
  <% }); %>
</table>
