<!DOCTYPE html>
<html>
  <head>
    <title><%= event.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/lib/normalize.css"/>
    <link rel="stylesheet" href="/css/lib/bootstrap.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <!--
        <script src="/js/lib/jquery-1.9.1.min.js"></script>
        -->
    <style>
      body{
      font-family: serif;
      padding-top: 0;
      }
      .content {
      width: 1024px;
      margin: 0 auto;
      }
      header {
      background-color: black;
      color: white;
      text-align: center;
      }
      h1 {
      margin: 0;
      padding: 0;
      font-size: 2.5em;
      }
      h2 {
      font-size: 2em;
      margin: 16px auto;
      }
      #zap-total {
      font-size: 160px;
      margin: 0;
      }
      #users {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 640px;
      margin: 0 auto;
      }
      #users li {
      padding: 2px;
      float: left;
      }
      #users li img {
      width: 32px;
      border-radius: 4px;
      }
      .section {
        width: 100%;
        min-height: 100%;
        overflow: hidden;
      }
      #scene2 p {
        font-size: 3em;
        font-weight: bold;
      }
      #please {
        font-size: 1.5em;
      }
    </style>
  </head>
  <body>
    <section id="scene0" class="section">
      <header>
        <div class="content">
          <h1><img src="/img/logo.png" width="150">「<%= event.title %>」<br>講演結果発表！</h1>
        </div>
      </header>
      <div class="content">
        <center>
        <a href="#scene1" style="font-size: 2em;font-weight: bold;padding-top: 30%;display: block;">果たして結果は・・？</a>
        </center>
      </div>
    </section>

    <section id="scene1" class="section">
    <header>
      <div class="content">
        <h1><img src="/img/logo.png" width="150">「<%= event.title %>」<br>講演結果発表！</h1>
      </div>
    </header>
    <div class="content">
      <h2>「(いいね!)」の合計</h2>
      <center>
      <p id="zap-total"><%= zapTotal %></p>
      </center>
    </div>
    <div class="content">
      <h2>メッセージ投稿数</h2>
      <center>
      <p id="zap-total"><%= messages.length %></p>
      </center>
    </div>
    <div class="content">
      <h2>参加してくださった皆様 (<%= users.length %>名)</h2>
      <div class="clearfix">
        <ul id="users">
          <% users.forEach(function(user) {
             %>
          <li>
            <img src="<%= user.photo %>" alt="<%= user.displayName %>">
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
    </section>
    <section id="scene2" class="section">
      <header>
        <div class="content">
          <h1><img src="/img/logo.png" width="150">「<%= event.title %>」<br>実施結果発表！</h1>
        </div>
      </header>
      <div class="content">
        <center>
        <p>
        本日はご清聴ありがとうございました！<br>
        またお会いできるのを楽しみにしています。
        <p>
        </center>
      </div>
    </section>
  </body>
</html>
